# Binaries
**/bin/
!extern/premake/bin
bin-int/
intermediates/

# Pressure files
*.log

# Visual Studio files and folder
.vs/
**.sln
*.vcxproj
**.vcxproj.filters
**.vcxproj.user 
**.vcxproj
**.filters
**.csproj

# Profiling files
*.json

# Directories
Pressure/extern/VulkanSDK
Sigil/assets/cache
scripts/__pycache__
