[submodule "Pressure/extern/spdlog"]
	path = Pressure/extern/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Pressure/extern/GLFW"]
	path = Pressure/extern/GLFW
	url = https://github.com/Flavinou/glfw.git
[submodule "Pressure/extern/imgui"]
	path = Pressure/extern/imgui
	url = https://github.com/Flavinou/imgui
