# Binaries
**/bin/
!extern/bin/premake
bin-int/

# Pressure files
*.log

# Visual Studio files and folder
.vs/
**.sln
*.vcxproj
**.vcxproj.filters
**.vcxproj.user 
**.vcxproj
**.filters

# Profiling files
*.json