[submodule "Pressure/extern/spdlog"]
	path = Pressure/extern/spdlog
	url = https://github.com/gabime/spdlog
	branch = v1.x
[submodule "Pressure/extern/GLFW"]
	path = Pressure/extern/GLFW
	url = https://github.com/Flavinou/glfw.git
	branch = master
[submodule "Pressure/extern/imgui"]
	path = Pressure/extern/imgui
	url = https://github.com/Flavinou/imgui
	branch = docking
[submodule "Pressure/extern/glm"]
	path = Pressure/extern/glm
	url = https://github.com/g-truc/glm
	branch = master
[submodule "Pressure/extern/yaml-cpp"]
	path = Pressure/extern/yaml-cpp
	url = https://github.com/Flavinou/yaml-cpp.git
[submodule "Pressure/extern/ImGuizmo"]
	path = Pressure/extern/ImGuizmo
	url = https://github.com/Flavinou/ImGuizmo.git
[submodule "Pressure/extern/box2d"]
	path = Pressure/extern/box2d
	url = https://github.com/Flavinou/box2d.git
[submodule "Pressure/extern/msdf-atlas-gen"]
	path = Pressure/extern/msdf-atlas-gen
	url = https://github.com/Flavinou/msdf-atlas-gen.git
